---
permalink: /assets/ts/js/blogs/blogland.js
---
// const menu = ['Home', 'About', 'Blog', 'Contact']
// https://t3.ftcdn.net/jpg/05/93/04/68/360_F_593046899_aLPcQHg1XonwDxuWYCmqHrsGEpqkXZN8.jpg


export const blogRender = (_l) =>{
    // jekyll syntax
    console.log({{page.blog_limit}})
    return (`
        <div class="row mb-2">

        {% for post in site.posts limit:2 %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
                    <h3 class="mb-0">{{ post.title }}</h3>
                    <div class="mb-1 text-muted">{{ post.date | date_to_string }}</div>
                <p class="card-text mb-auto">{{ post.description | truncate_words: 20 }}</p>
                <a href="{{ post.url | prepend : site.baseurl }}" class="stretched-link">Continue reading</a>
                </div>
            <div class="col-auto d-none d-lg-block">
            <img src="{{post.cover_image}}" style="width:200px;height:250px;object-fit:cover"></img>
            </div>
            </div>
        </div>
        {% endfor %}

        </div>
        `)
}
